<% if @quiz.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

		<ul>
			<% @quiz.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @quiz do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: 'Your title here' %>
 <!-- rails views this as separate although it is all part of one form.
 .fields_for is also a helper. -->
	  <%= f.fields_for :questions do |question_f| %>
	  	<%= question_f.label :text, 'Question' %>
	  	<%= question_f.text_field :text, placeholder: 'Enter a question' %>
	  <% end %>

  <%= f.submit %>
<% end %>